# =========================
# Vivado build artifacts
# =========================
*.jou
*.log
*.str
*.xml
*.rpx
*.ltx
*.xpr.lock
*.cache/
*.hw/
*.runs/
*.sim/
*.srcs/
*.ip_user_files/
*.data/
*.webtalk/
*.Xil/
*.gen/
*.sdk/

# Output files
*.bin
*.mmi
*.dcp

# =========================
# C / C++ build artifacts
# =========================
*.o
*.out
*.elf
*.map
*.a

# Build dirs
/build/
/bin/
/obj/
